<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1> Gijgo Examples for Angular </h1>
  <div class="row">
    <div class="col-sm"><a href="">Home</a></div>
    <div class="col-sm"><a href="datepicker.demo">DatePicker</a></div>
    <div class="col-sm"><a href="timepicker.demo">TimePicker</a></div>
    <div class="col-sm"><a href="datetimepicker.demo">DateTimePicker</a></div>
    <div class="col-sm"><a href="tree.demo">Tree</a></div>
    <div class="col-sm"><a href="grid.demo">Grid</a></div>
    <div class="col-sm"><a href="slider.demo">Slider</a></div>
    <div class="col-sm"><a href="editor.demo">Editor</a></div>
    <div class="col-sm"><a href="dialog.demo">Dialog</a></div>
    <div class="col-sm"><a href="checkbox.demo">Checkbox</a></div>
    <div class="col-sm"><a href="dropdown.demo">DropDown</a></div>
  </div>
  <br/>
  <router-outlet></router-outlet>
</div>